<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

${loggers}

    <logger name="com.rabbitmq.perf.Producer" level="debug" />

    <root level="warn">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>