name: Publish documentation

on:
  push:
    branches:
      - main
    paths:
      - src/docs/**
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v6
      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '25'
          cache: 'maven'
      - name: Generate documentation
        run: |
          rm -rf target/generated-docs
          make doc
      - name: Commit documentation changes
        run: |
          git config user.name "rabbitmq-ci"
          git config user.email "rabbitmq-ci@users.noreply.github.com"
          ci/commit-documentation.sh
