name: Test against RabbitMQ alphas

on:
  push:
    branches:
      - main
  schedule:
    - cron: '0 4 * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        rabbitmq-image:
          - pivotalrabbitmq/rabbitmq:v4.1.x-otp27
          - pivotalrabbitmq/rabbitmq:main-otp27
    name:  Test against ${{ matrix.rabbitmq-image }}
    steps:
      - uses: actions/checkout@v4
      - name: Checkout tls-gen
        uses: actions/checkout@v4
        with:
          repository: rabbitmq/tls-gen
          path: './tls-gen'
      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '21'
          cache: 'maven'
      - name: Start broker
        run: ci/start-broker.sh
        env:
          RABBITMQ_IMAGE: ${{ matrix.rabbitmq-image }}
      - name: Test
        run: ./mvnw verify -Drabbitmqctl.bin=DOCKER:rabbitmq --no-transfer-progress
      - name: Stop broker
        run: docker stop rabbitmq && docker rm rabbitmq
